<div class="container-fluid">
  <div class="content-container">
    <div class="col-sm-12 text-center">
      <h1>お問い合わせを受け付けました</h1>
    </div>
  </div>

  <div class="content-container">
    <p>ご記入いただいたメールアドレス宛に確認のメールを送信いたしました。<br>
      メールが届かない場合は、もう一度やり直してください。</p>
    <a href="/"><button class="back link-space">トップページに移動</button></a>
  </div>
</div>


<style type="text/css">
*{
  text-align:center;
}

.content-container{
  width:80%;
  max-width: 700px;
  padding:10px;
  margin: auto;
  margin-top:10px;
  border:solid 1px gray;
  border-radius: 3px;
  overflow: hidden;
  background-color: lightgray;
}

.link-space{
  margin: 20px 0px 10px 0px;
  background-color: red;
}
.back{
  width:80%;
  max-width:300px;
  font-size: 16px;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 3px;
}
</style>