<div id="not-found">
  <h2> ボードがみつかりませんでした　</h2>
  <br>
  <h3>考えられる原因<h3>
    <li>URLが間違っている</li>
    <li>管理者によって招待URLが変更された</li>
  <br>
  <%= link_to ">> トップページに移動", "/" %>
</div>

<style>
#not-found{
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}
</style>