<p>
  <%= @usr[:name] %> 様<br>
  この度は、お問い合わせいただきありがとうございます。<br>
  改めてご連絡いたしますので、しばらくお待ちください。<br>
  <br>
  ーーーお問い合わせ内容ーーー<br>
  ・ご用件<br>
  <%= @usr[:purpose] %><br>
  ・ご詳細<br>
  <%= simple_format(@usr[:comment]) %><br>
  ーーーーーーーーーーーーーー<br>
  <br>
  ※ このメールは送信専用ですので、返信することができません。
    あらかじめ、ご了承ください。
</p>
<p>white.io 運営事務局@2020</p>